@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Jura:wght@300..700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #04080f;
  --green: rgb(24, 94, 101, 0.32);
  --dark-green: rgb(24, 94, 101, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.title {
  font-family: "Julius Sans One", serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10.23px;
}

.btn {
  background: var(--dark-green);
  color: white;
  padding: 20px;
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Julius Sans One", serif;
  box-shadow: unset;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.navbarWrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.homeLink {
  text-decoration: none;
  display: flex;
  color: black;
}

.heroWrapper {
  background-color: var(--green);
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.hero {
  font-family: "Jura", serif;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.hero h2 {
  font-size: 31px;
  font-weight: 400;
}

.hero h3 {
  font-size: 21px;
  font-weight: 400;
}

.selectedOption {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 20px;
  cursor: pointer;
  background-color: var(--green);
  color: white;
  border-radius: 8px;
  border: none;
}

.option {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 20px;
}

.option:hover {
  cursor: pointer;
  background-color: var(--green);
  color: white;
  border-radius: 8px;
  border: none;
}

.btnNavWrapper {
  display: flex;
  gap: 20px;
}

.questionsWrapper {
  background-color: var(--green);
  width: 900px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Jura", serif;
  position: relative;
}

.questionsWrapper button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.question {
  margin-bottom: 60px;
}

.questionNumber {
  position: absolute;
  right: 20px;
  top: 20px;
}

.btnQuestion {
  background: var(--dark-green);
  color: white;
  padding: 20px;
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Julius Sans One", serif;
  box-shadow: unset;
  border: none;
}

.btnQuestionDisabled {
  background: var(--dark-green);
  opacity: 0.4;
  color: white;
  padding: 20px;
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Julius Sans One", serif;
  box-shadow: unset;
  border: none;
}

.wipWrapper {
  background-color: var(--green);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Jura", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: var(--green);
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-family: "Jura", serif;
  width: 900px;
  position: relative;
  z-index: 1;
}

.formWrapper input {
  border: none;
  padding: 10px;
}

.customInput {
  width: 90%;
}

.questionTypeRadio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.optionAnswers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 80%;
}

.optionAnswers input {
  width: 100%;
}

.addedAnswers {
  display: flex;
  gap: 10px;
}

.selectCorrectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.22);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.overlayCard {
  width: 900px;
  background-color: var(--dark-green);
  color: white;
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-family: "Jura", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightBtn {
  background: white;
  padding: 20px;
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Julius Sans One", serif;
  box-shadow: unset;
  border: none;
}

.lightBtn:hover {
  cursor: pointer;
}
