@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Jura:wght@300..700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #04080f;
  --green: rgb(24, 94, 101, 0.32);
  --dark-green: rgb(24, 94, 101, 1);
}

body {
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.title {
  font-family: "Julius Sans One", serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10.23px;
}

.btn {
  background: var(--dark-green);
  color: white;
  padding: 20px;
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Julius Sans One", serif;
  box-shadow: unset;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.navbarWrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.homeLink {
  text-decoration: none;
  display: flex;
  color: black;
}

.heroWrapper {
  background-color: var(--green);
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.wandIcon {
  width: 80px;
  height: 80px;
}

.hero {
  font-family: "Jura", serif;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.hero h2 {
  font-size: 31px;
  font-weight: 400;
}

.hero h3 {
  font-size: 21px;
  font-weight: 400;
}

.selectedOption {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 20px;
  cursor: pointer;
  background-color: var(--green);
  color: white;
  border-radius: 8px;
  border: none;
  position: relative;
}

.option {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 20px;
  position: relative;
}

.answer {
  position: absolute;
  left: 55px;
}

.option:hover {
  cursor: pointer;
  background-color: var(--green);
  color: white;
  border-radius: 8px;
  border: none;
}

.btnNavWrapper {
  display: flex;
  gap: 20px;
}

.questionsWrapper {
  background-color: var(--green);
  width: 80%;
  max-width: 600px;
  min-width: 320px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Jura", serif;
  position: relative;
}

.question {
  overflow-wrap: break-word;
}

.questionBox {
  margin-bottom: 60px;
}

.questionNumber {
  text-align: end;
}

.btnQuestion {
  background: var(--dark-green);
  color: white;
  padding: 20px;
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Julius Sans One", serif;
  box-shadow: unset;
  border: none;
}

.btnQuestionDisabled {
  background: var(--dark-green);
  opacity: 0.4;
  color: white;
  padding: 20px;
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Julius Sans One", serif;
  box-shadow: unset;
  border: none;
}

.wipWrapper {
  background-color: var(--green);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Jura", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlayCard {
  width: 900px;
  background-color: var(--dark-green);
  color: white;
  opacity: 1;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-family: "Jura", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightBtn {
  background: white;
  padding: 20px;
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: "Julius Sans One", serif;
  box-shadow: unset;
  border: none;
}

.lightBtn:hover {
  cursor: pointer;
}

.footer {
  font-family: "Jura", serif;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 20px;
}

.resultsWrapper {
  font-size: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.resultFirstLine {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultsWrapper ul {
  list-style: none;
}

.flashQuestionText {
  text-transform: uppercase;
  font-size: 20px;
}

.flashQuestion {
  text-transform: capitalize;
  text-align: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flashBtnWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flashQuestionsWrapper {
  background-color: var(--green);
  width: 80%;
  max-width: 600px;
  min-width: 320px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Jura", serif;
  min-height: 400px;
  position: absolute;
  top: 50%;
}

.nextBtnFlash {
  width: 100%;
  text-align: end;
}

.questionsWrapper h3 {
  text-align: center;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slider {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sliderLabel {
  min-width: 100px;
}

.timeWrapper {
  display: flex;
  align-items: center;
}

.settingsWrapper {
  background-color: var(--green);
  width: 80%;
  max-width: 600px;
  min-width: 320px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Jura", serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  font-family: "Jura";
}

@media (max-width: 430px) {
  .title {
    font-size: 18px;
  }

  .wandIcon {
    width: 40px;
    height: 40px;
  }

  .navbarWrapper {
    padding: 20px;
  }

  .homeLink {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .heroWrapper {
    width: 80%;
  }

  .heroWrapper img {
    display: none;
  }

  .hero h2,
  h3,
  h4 {
    text-align: right;
  }

  .questionsWrapper,
  .settingsWrapper {
    width: 80%;
    padding: 20px;
  }

  .flashQuestionsWrapper {
    width: 80%;
    padding: 20px;
  }

  .wipWrapper {
    width: 80%;
  }

  .btnNavWrapper {
    display: none;
  }

  .footer {
    display: none;
  }

  .flashBtnWrapper {
    flex-direction: column;
    gap: 20px;
  }

  .overlayCard {
    width: 80%;
  }

  .btnWrapper {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .nextBtnFlash {
    text-align: unset;
  }

  .nextBtnFlash .btn {
    width: 100%;
  }

  .sliderWrapper,
  .slider {
    flex-direction: column;
  }
}
